/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
body {
  font-family: "Roboto", sans-serif !important;
  position: relative;
}

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body {
  background-color: #f5f5f9;
}
.container {
}

aside#main-sidebar {
  width: 360px;
  height: 100vh;
  position: fixed;
  right: 0;
  top: 0;
  color: rgb(0, 8, 34);
  padding: 0 1em;
}

img.profile-image {
  width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
  border-radius: 20px;
}

header.title {
  text-align: center;
}

header.title h1 {
  font-weight: 500;
  font-size: 22px;
  margin-top: 1em;
}

header.title span {
  color: rgb(105, 113, 127);
  display: block;
  margin: 0.2em 0 1.4em 0;
  font-weight: 300;
  font-size: 15px;
}

.box {
  background-color: #fff;
  padding: 1.4em 1.6em;
  margin: 1.4em 0;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -o-border-radius: 12px;
  border-radius: 12px;
  -webkit-box-shadow: 0px 4px 12px 4px rgba(181, 181, 195, 0.1);
  -moz-box-shadow: 0px 4px 12px 4px rgba(181, 181, 195, 0.1);
  -o-box-shadow: 0px 4px 12px 4px rgba(181, 181, 195, 0.1);
  box-shadow: 0px 4px 12px 4px rgba(181, 181, 195, 0.1);
}

.box .box-title {
  background-color: rgba(181, 181, 195, 0.3);
  border-radius: 6px;
  padding: 0.6em 1em;
  margin-bottom: 1em;
}

.box .box-title h1 {
  font-weight: bold;
  text-align: center;
}

span.tag {
  background-color: rgba(181, 181, 195, 0.3);
  font-size: 11px;
  padding: 0.3em 1em;
  border-radius: 9px;
  color: rgba(0, 8, 34, 0.5);
}

.bttn {
  display: block;
  margin-top: 1.6em;
  text-align: center;
  padding: 0.8em 0;
  text-decoration: none;
  background-color: rgb(25, 197, 189);
  color: #fff;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -o-border-radius: 8px;
  border-radius: 8px;
  font-weight: 200;
  border-bottom: 3px solid rgba(0, 0, 0, 0.1);
  -webkit-transition: all ease-in-out 0.2s;
  -moz-transition: all ease-in-out 0.2s;
  -o-transition: all ease-in-out 0.2s;
  transition: all ease-in-out 0.2s;
}

.bttn:hover {
  background-color: rgba(25, 197, 189, 0.8);
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  -o-transform: scale(1.05);
  transform: scale(1.05);
}

.bttn:active {
  box-shadow: inset 0px 0px 9px rgba(4, 4, 4, 0.4);
}

.large-bttn {
  display: block;
  text-align: center;
  background-color: #fff;
  width: 300px;
  color: rgb(63, 66, 85);
  font-size: 14px;
  font-weight: 800;
  margin-left: 1em;
}

.fas {
  font-size: 18px;
  margin-right: 0.5em;
}

.small-text {
  font-size: 11px;
  text-transform: uppercase;
  text-align: center;
  display: block;
  margin: 1em 0 2em 0;
  font-weight: bold;
  color: rgb(85, 189, 239);
}

.small-text b {
  text-decoration: underline;
}

aside .hor-menu {
  border-top: 1px dotted rgb(181, 181, 195);
}

.hor-menu {
  text-align: center;
}

.hor-menu li {
  display: inline-block;
  margin: 1em 0.2em;
}

.hor-menu li a {
  display: block;
  padding: 0.6em;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
  color: #fff;
  font-size: 20px;
  border-bottom: 3px solid rgba(0, 0, 0, 0.2);
  -webkit-transition: all ease-in-out 0.2s;
  -moz-transition: all ease-in-out 0.2s;
  -o-transition: all ease-in-out 0.2s;
  transition: all ease-in-out 0.2s;
}

.hor-menu li a:hover {
  transform: scale(1.1);
}

.hor-menu li a:active {
  box-shadow: inset 0px 0px 9px rgba(4, 4, 4, 0.4);
}

.hor-menu li a.blue {
  background-color: rgb(11, 99, 189);
}

.hor-menu li a.orange {
  background-color: rgb(233, 78, 50);
}

main {
  width: calc(100% - 360px);
  min-height: 100vh;
  color: rgb(0, 8, 34);
  clear: both;
}

.col-2 {
  width: calc(50% - 2em);
  min-height: 800px;
  float: left;
  margin: 1em;
  vertical-align: middle;
}

.col-4 {
  margin: 1em;
  width: calc(25% - 2em);
  min-height: 600px;
  display: block;
  float: left;
}

.col-60 {
  width: calc(60% - 2em);
  min-height: 800px;
  float: left;
  margin: 0.5em;
}

.col-40 {
  width: calc(40% - 2em);
  min-height: 800px;
  float: left;
  margin: 1em;
}

.center {
  text-align: center;
}

.content-box h1 {
  font-weight: bold;
  font-size: 24px;
  text-align: center;
  line-height: 160%;
}

.content-box {
  width: 37%;
  float: left;
  margin: 2em 1em;
}
.wide-media-box {
    padding-top: 8em;
}
.wide-media-box img {
  display: block;
  max-width: 560px;
  border-radius: 20px;
  float: left;
}

.dark-box {
  color: #fff;
}

.info-list {
  padding: 1em;
  margin: 1em;
  font-weight: 200;
  font-size: 18px;
  line-height: 160%;
}

.content-head {
  font-weight: 600;
  font-size: 24px;
  padding: 0 1em;
  line-height: 160%;
  margin-top: 2em;
}

.info-list li {
  list-style-type: circle;
  margin-bottom: 0.8em;
}

section#section-main {
  background-color: #5ed1cb; rgb(78,34,100);
  overflow: auto;
}

section#section-1 {
  background: rgb(50, 51, 90);
  clear: both;
  overflow: auto;
}

#section-2,
#section-3,
#section-5 {
  background-color: #89a1f6;
  clear: both;
  overflow: auto;
  padding: 2em 0;
}

section#section-4 {
  background-color: #eb45bb;
  clear: both;
  overflow: auto;
  padding: 2em 0;
}

.media-box img {
  width: 400px;
}

#nav-menu {
  position: fixed;
  top: 10em;
  left: 1em;
  z-index: 100;
  padding: 1em;
}

#nav-menu li {
  margin-right: 0.2em;
}

#nav-menu li a {
  background-color: #fff;
  padding: 1.4em 1em;
  border-radius: 6px;
  text-decoration: none;
  font-size: 14px;
  color: rgb(0, 8, 34);
  font-weight: bold;
  -webkit-transition: all ease-in 0.2s;
  transition: all ease-in 0.2s;
}

#nav-menu li a:hover {
  background-color: #5ed1cb;
  color: #fff;
  padding-bottom: 2.2em;
}

.progress {
  width: 140px;
  height: 140px;
  line-height: 100px;
  background: none;
  margin: 0 auto;
  box-shadow: none;
  position: relative;
}

.col-md-3 {
  display: inline-block;
  margin: 0.6em 0.4em;
}

.progress > span {
  width: 50%;
  height: 100%;
  overflow: hidden;
  position: absolute;
  top: 0;
  z-index: 1;
}
.progress .progress-left {
  left: 0;
}
.progress .progress-bar {
  width: 100%;
  height: 100%;
  background: none;
  border-width: 12px;
  border-style: solid;
  position: absolute;
  top: 0;
}
.progress .progress-left .progress-bar {
  left: 100%;
  border-top-right-radius: 80px;
  border-bottom-right-radius: 80px;
  border-left: 0;
  -webkit-transform-origin: center left;
  transform-origin: center left;
}
.progress .progress-right {
  right: 0;
}
.progress .progress-right .progress-bar {
  left: -100%;
  border-top-left-radius: 80px;
  border-bottom-left-radius: 80px;
  border-right: 0;
  -webkit-transform-origin: center right;
  transform-origin: center right;
  animation: loading-1 1.8s linear forwards;
}
.progress .progress-value {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.1);
  border: 4px solid #6638f0;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  line-height: 140px;
  text-align: center;
  position: absolute;
  top: 0;
  left: 0;
}

.chart-row {
  margin-top: 2em;
  overflow: auto;
  clear: both;
}

.progress.blue .progress-bar {
  border-color: rgba(255, 255, 255, 0.8);
}

.progress.blue .progress-left .progress-bar {
  animation: loading-2 1.5s linear forwards 1.8s;
}
.progress.yellow .progress-bar {
  border-color: rgba(255, 255, 255, 0.8);
}

.progress.green .progress-bar {
  border-color: rgba(255, 255, 255, 0.8);
}

.progress.yellow .progress-left .progress-bar {
  animation: loading-3 1s linear forwards 1.8s;
}
.progress.pink .progress-bar {
  border-color: rgba(255, 255, 255, 0.8);
}
.progress.pink .progress-left .progress-bar {
  animation: loading-4 0.4s linear forwards 1.8s;
}
.progress.green .progress-bar {
  border-color: rgba(255, 255, 255, 0.8);
}
.progress.green .progress-left .progress-bar {
  animation: loading-5 1.2s linear forwards 1.8s;
}
@keyframes loading-1 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }
}
@keyframes loading-2 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(144deg);
    transform: rotate(144deg);
  }
}
@keyframes loading-3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(150deg);
    transform: rotate(150deg);
  }
}
@keyframes loading-4 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(36deg);
    transform: rotate(36deg);
  }
}
@keyframes loading-5 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(126deg);
    transform: rotate(126deg);
  }
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap; /* 1 */
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
  white-space: inherit;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
  content: " "; /* 1 */
  display: table; /* 2 */
}

.clearfix:after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (max-width: 1160px) {
  .left {
    width: 100%;
    margin: auto;
  }
  .col-6 {
    width: 80%;
    padding: 20px 0;
  }
  .img-container {
    margin: auto;
    float: none;
  }
  .col-6 hgroup {
    text-align: center;
  }
}

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important; /* Black prints faster */
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]:after {
    content: " (" attr(href) ")";
  }

  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}
